@font-face {
    font-family: 'playfair_display';
    src: url(https://fonts.googleapis.com/css?family=Playfair+Display);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inconsolata';
    src: url(https://fonts.googleapis.com/css?family=Inconsolata);
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'playfair_display';
    font-size: 14px;
    color: #626262;
}
a{color: #626262;}
a:hover{color: #626262}
p{text-align: justify;}
.post{
    padding-top: 50px;
}
.item{
    padding-bottom: 50px;
}
.icon{
    padding-left: 10px;
}
.also{
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;
}
.more{
    margin: auto;
    padding-top: 30px;
}

.sign-up{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f0f0f0;
}
.foot{
    background: #f0f0f0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar, h3{
    text-transform: uppercase;
}
.term{
    margin-top: 50px;
}
.nav>li>a {
    padding:10px 50px;
}

.navbar-fix{
    background-color: white;
    border: none;
}
.content{
    padding-top: 50px;
}
.navbar-default .navbar-nav>li>a{
    color: #626262;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a:hover{
  text-decoration: underline;
}
.navbar-default .navbar-brand{
    text-transform: uppercase;
    color: #000000;
    font-size: 30px;
    font-family: 'Inconsolata', Serif;
}
section img:hover{
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
     -webkit-transition-duration: 2s; /* Safari */
    transition-duration: 1s;
    cursor: pointer;
}
.email{
    border-bottom: 2px solid #626262;
}
.arrow{
    position: absolute;
    top: 11px;
    right: 7px;
}
i:hover{cursor: pointer;}
textarea{max-width: 100%}
@media(min-width: 1200px){
    .container{
        width: 1062px;
    }
}