
.navbar-default{
    background-color: white;
    border: white;
}
.jumbotron{
    background-color: white;
    padding-top: 10px;
}
.content-img{
    padding-top: 100px;
}
.navbar-right{
   padding-right: 50px;
}
.detail{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.logo{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 70px;
    z-index: 4;
}
p{
    font-size: 16px;
}
@media screen and (max-width: 425px) {

    .logo {
        display: none;
    }

}