h3{
    text-transform: uppercase;
    color: #1e97fa;
    text-align: left;
}
p, span {
    font-size: 16px ;
}
.img-detail{
    max-width:120px;
    min-width: 92px;
    height: auto;
}
.img-list{
    margin-bottom: 40px;
}